# Load GNSS data (.csv)

In [1]:
import pandas as pd

path = "gnss_data.csv"
df = pd.read_csv(path)
df.head()

,pnt_id,pnt_name,pnt_lat,pnt_lon,pnt_xrd,pnt_yrd,dates,n,e,u,sn,se,su
0,0591,Aachen,50.767778,6.088333,204465.62255,308885.632138,2002-11-20,0.000426,0.007671,0.005879,0.000932,0.000673,0.002627
1,0591,Aachen,50.767778,6.088333,204465.62255,308885.632138,2007-11-12,0.000447,-0.001009,-0.005334,0.000888,0.000654,0.002506
2,0591,Aachen,50.767778,6.088333,204465.62255,308885.632138,2007-11-11,0.000381,0.000116,-0.005035,0.000889,0.000652,0.002511
3,0591,Aachen,50.767778,6.088333,204465.62255,308885.632138,2007-11-10,0.000678,-0.001208,-0.006365,0.000893,0.000657,0.002522
4,0591,Aachen,50.767778,6.088333,204465.62255,308885.632138,2007-11-09,-0.000864,-0.002044,-0.009819,0.000904,0.000663,0.002558

In [ ]:
################################################################################
#
#   pnt_id      : GNSS station ID
#   pnt_name    : GNSS station location name
#   pnt_lat     : latitude (degrees)
#   pnt_lon     : longitude (degrees)
#   pnt_xrd     : RD X coordinate (meters)
#   pnt_yrd     : RD Y coordinate (meters)
#   dates       : observation date (YYYY-MM-DD)
#   n, e, u     : north, east, up coordinates (mm)
#   sn, se, su  : north, east, up standard deviation (mm)
#
################################################################################